# Nonebot2 基础配置
LOG_LEVEL=INFO
ONEBOT_ACCESS_TOKEN=
# 如果使用 正向ws，将下行 DRIVER 注释掉，将原注释掉的 DRIVER 和 ONEBOT_WS_URLS 取消注释
DRIVER=~fastapi
# DRIVER=~fastapi+~httpx+~websockets
# ONEBOT_WS_URLS=["ws://XXX.XXX.XXX.XXX:XXXX"]

# BOT 主基础配置
SUPERUSERS=[""]
DATASTORE_DATABASE_URL=

# --- maib ---
# 低内存模式，设置为 true 后会阻止 B50 等大型图片合成，适用于内存较小的环境
LOW_MEMORY_MODE=false
# 低内存模式提示语，设置后在低内存模式下会发送该提示语而不是直接无响应
LOW_MEMORY_TIP="当前为低内存模式，不支持大型图片合成哦~"
# 水鱼开发者 TOKEN
DIVING_FISH_DEVELOPER_TOKEN=

# --- what_food ---
# AI 功能配置
WHAT_FOOD_AI_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
WHAT_FOOD_AI_MODEL=qwen3.5-flash-2026-02-23
WHAT_FOOD_AI_KEY=
