# Nonebot2 基础配置
DRIVER=~fastapi
ONEBOT_ACCESS_TOKEN=

# BOT 主基础配置
SUPERUSERS=[""]
DATASTORE_DATABASE_URL=sqlite+aiosqlite:///D:/lyra-data/data.db

# maib / 水鱼开发者 TOKEN
DIVING_FISH_DEVELOPER_TOKEN=

# what_food / AI 功能配置
WHAT_FOOD_AI_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
WHAT_FOOD_AI_MODEL=qwen3.5-flash-2026-02-23
WHAT_FOOD_AI_KEY=